<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="AHT\Blog\Api\PostRepositoryInterface" type="AHT\Blog\Model\PostRepository"/>

	<preference for="AHT\Blog\Api\Data\PostInterface" type="AHT\Blog\Model\Post"/>
</config>